.bg-color{
  width: 20%;
  height: 800px;
  background-color: aqua;
}
img.image {
  width: 106.6%;
}
.closerow{
  background-color: rgb(233, 23, 23);
  width: 106.6%;
    height: 50%;
        display: flex;
        align-items: center;
        margin: auto;
}
.sharerow{
  background-color: brown;
  width: 106.6%;
    height: 50%;
        display: flex;
        align-items: center;
        margin: auto;
}

  .nameedit-maindiv {
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
}
.sec-two{
  width: 103.2%;
}
.cityname {
  padding-left: 60px;
}
.fourth-sec{
  padding-left: 50px;

}
.fifth-sec{
  padding-left: 50px;
background-color: greenyellow;
height: 400px;
padding-top: 40px;

}
h3 ,.center {
  display: flex;
  justify-content: center;
}
.paddingicon{
  padding: 10px;
}
